<%= link_to "back to game", "/" %>

<h1><%= @user.username %></h1>
<% @new_words.each do |new_word| %>
<div>
  <h2><%= new_word.word.word %></h2>
  <p><%= new_word.word.pronounce %></p>
  <p><%= new_word.word.comment %></p>
  <p><%= new_word.word.sample %></p>

  <b>Note</b>
  <i><%= new_word.note %></i>
  <p><%= link_to "Edit", edit_user_new_word_path(@user, new_word) %> | <%= link_to "Destroy", user_new_word_path(@user, new_word), :confirm => 'Are you sure?', :method => :delete %></p>
  <hr/>
</div>
<% end %>