<% title "Word" %>

<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>
<p>
  <strong>Pronounce:</strong>
  <%= @word.pronounce %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @word.comment %>
</p>
<p>
  <strong>Sample:</strong>
  <%= @word.sample %>
</p>

<p>
  <%= link_to "Edit", edit_word_path(@word) %> |
  <%= link_to "Destroy", @word, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", words_path %>
</p>
